<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.beien.dao.UserInfoDao">
    <!-- 查询所有用户信息 -->
    <select id="findAll"
            resultType="com.beien.entity.UserInfo">
        select * from t_user
    </select>
    <!--1.转入-->
    <update id="transferIn" >
        UPDATE tb_account_in set money = money + #{money} where username = #{inName}
    </update>

    <!--2转出-->
    <update id="transferOut" >
        UPDATE tb_account_out set money = money - #{money} where username = #{outName}
    </update>

    <select id="findAllSlave"
            resultType="com.beien.entity.SysUserInfo">
        select * from sys_user_info
    </select>
</mapper>